@import "../../../styles/variables/colors.scss";

.main-navbar {
	height: 60px;
	background-color: $c-primary;
	color: $white;
}

.logo {
	float: left;
	padding-top: 10px;
}

.logo-title {
	line-height: 1;
	font-size: 1.6rem;
}
