@import "../../../styles/variables/colors.scss";

.main-navbar {
	height: 5em;
	background-color: $c-primary;
	color: $white;
	padding: 1em 0;

	&__logo {
		display: inline-block;
		width: 2em;
	}

	&__logoTitle {
		line-height: 1;
		font-size: 1.6rem;
	}
}

