<article class="courses-item">
    <div class="courses-item__header">
        <h3 class="courses-item__title">{{ course.title }}</h3>
        <span class="courses-item__duration">{{ course.duration }}m</span>
        <span class="courses-item__date">{{ course.date | date:'shortDate' }}</span>
    </div>
    <p class="courses-item__body">
        {{ course.description }}
    </p>
    <div class="courses-item__tools">
        <button class="btn btn-primary text-uppercase" type="button">edit course</button>
        <button class="btn btn-danger text-uppercase" type="button">delete</button></div>
</article>