<article class="courses-item row">
    <div class="col-md-10">
        <div class="courses-item__header">
            <h3 class="courses-item__title">
                {{ course.title }}
                <span class="courses-item__duration">{{ course.duration }}m</span>
            </h3>
            <span class="courses-item__date">{{ course.date | date:'shortDate' }}</span>
        </div>
        <p class="courses-item__body">
            {{ course.description }}
        </p>
    </div>
    <div class="courses-item__tools col-md-2">
        <button
            class="btn btn-primary text-uppercase col-md-12 courses-item__toolsEditButton"
            type="button"
        >edit course</button>
        <button
            class="btn btn-danger text-uppercase col-md-12 courses-item__toolsDeleteButton"
            type="button"
            (click)="deleteClick()"
        >delete</button>
    </div>
</article>